[Unit]
Description=Url Short
After=network.target

[Service]
User=fames
WorkingDirectory=/fames/apps/url_short
ExecStart=/fames/apps/url-short/url_short
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/fames/apps/url_short/config.env

[Install]
WantedBy=multi-user.target
